<!-- templates/user/edit.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
</head>
<body>
<h1>Edit User</h1>
<form th:action="@{/USER/edit/{id}(id=${user.id})}" th:object="${user}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" required>
    <br>
    <label for="number">Number:</label>
    <input type="text" id="number" th:field="*{number}" required>
    <br>
    <button type="submit">Update</button>
</form>
<a href="/USER/">Back to List</a>
</body>
</html>
